h1{
    color: #DAD7CD;
    text-align: center;
    margin-bottom: 20px;
}
.study-roadmap-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: 'Helvetica', sans-serif;
    background-color: #588157;
  }

  .input-field {
    width: 300px;
    padding: 8px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 20px;

    background-color: #A3B18A ;
  }
  .generate-button-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  .generateButton {
    border-radius: 10px;
    padding: 10px 20px;
    background-color: #3A5A40;
    color: white;
    border: none;
    cursor: pointer;
  }
   
  .mainContainer{
    background-color: #588157;
  }
  .output-container {
    width: 150%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
   
  }
  
  .output {
    color: white;
    width: 500px;
    padding: 20px;
    background-color: #344E41;
    border: 1px solid #ccc;
    text-align: center;
  }

  .paraContainer{
    font-size: large;
    font-weight: bolder;
  }
  
  
  
